.body {
  background-color: darkgray;
  background-size: 80%, auto;
}
.cont {
  margin-left: 200px;
}

.textbox {
  margin-top: 100px;
  margin-left: 80px;
  font-size: 30px;
  font-family: 'MyricaM'
}
.btn {
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #333;
  border-color: #ccc;
}
.kujititle {
  padding-left: 100px;
  padding-top: 20px;
}
.omikuji {
  display: flex;
  padding-left: 80px;
  padding-top: 20px;
  margin-left: 100px;
}
#dog {
  margin-left: 20px;
}
#cat {
  margin-left: 20px;
}
#tanuki {
  margin-left: 20px;
}